@tailwind base;

html {
  min-height:100%;
}

input.right {
  float: right;
}

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
    @apply font-serif;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
  body {
    background-image: url(./img/deadVillage.jpeg);
    @apply font-sans antialiased bg-cover bg-fixed bg-gray-50 bg-gray-900 text-white
  }
}

@tailwind components;

@tailwind utilities;